.b-autocomplete {
  position: relative;

  &__progress {
    position: absolute !important;
    top: 12px;
    right: 0;
  }

  &__dropdown {
    z-index: 1300;
  }

  &__item-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
