.b-auth {
  margin: 100px 0;

  &__paper {
    max-width: 400px;
    margin: 0 auto;
    padding: 16px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    margin: 8px;
    background-color: rgb(225, 0, 80) !important;
  }

  &__form {
    margin-top: 8px;
  }

  &__form-submit {
    margin-top: 24px !important;
  }
}
