// открытие MUI модалок накидывает отступ
body {
  overflow-y: scroll !important;
  padding: 0 !important;
}

.b-page {
  &__content {
    max-width: 1440px;
    margin: 0 auto;

    &_size_small {
      max-width: 960px;
    }
  }

  &__paper {
    margin: 24px;

    @media all and (max-width: 600px) {
      margin: 12px;
    }
  }

  &__paper-title {
    padding-top: 24px;
    padding-left: 24px;

    @media all and (max-width: 600px) {
      padding-top: 12px;
      padding-left: 12px;
    }
  }

  &__actions {
    position: fixed !important;
    bottom: 32px;
    right: 32px;
    display: flex;
    flex-direction: column;


    @media all and (max-width: 600px) {
      bottom: 24px;
      right: 24px;
    }
  }

}

.b-paper {
  padding: 24px;
  margin: 24px;

  &_size {
    &_small {
      max-width: 960px;
    }
  }

  @media all and (max-width: 600px) {
    margin: 12px;
    padding: 12px;
  }
}

.m-margin {
  &_top {
    &-small {
      margin-top: 16px !important;
    }
    &-normal {
      margin-top: 24px !important;
    }
    &-medium {
      margin-top: 36px !important;
    }
    &-big {
      margin-top: 48px !important;
    }
  }

  &_bottom {
    &-small {
      margin-bottom: 16px !important;
    }
    &-normal {
      margin-bottom: 24px !important;
    }
    &-medium {
      margin-bottom: 36px !important;
    }
  }

  &_left {
    &-auto {
      margin-left: auto !important;
    }
    &-small {
      margin-left: 8px !important;
    }
    &-normal {
      margin-left: 16px !important;
    }
    &-medium {
      margin-left: 24px !important;
    }
  }

  &_right {
    &-auto {
      margin-right: auto !important;
    }
    &-small {
      margin-right: 8px !important;
    }
    &-normal {
      margin-right: 16px !important;
    }
    &-medium {
      margin-right: 24px !important;
    }
  }
}

.b-table-responsive {
  width: 100%;
  overflow-x: auto;
}

.m-relative {
  position: relative;
}

.m-width-full {
  width: 100% !important;
}

.m-align-center {
  text-align: center !important;
}

.m-zero-min-width {
  min-width: 0;
}

.m-nowrap {
  white-space: nowrap;
}

//xs, extra-small: 0px or larger
//sm, small: 600px or larger
//md, medium: 960px or larger
//lg, large: 1280px or larger
//xl, xlarge: 1920px or larger
