.b-logs {
  &__popover {
    padding: 10px 20px;
    background-color: #4D4D4D !important;
    color: #F8F8F2;
    max-width: 500px !important;
  }

  &__diff-new {
    color: #68E868;
  }

  &__diff-old {
    color: #FFB3B3;
  }
}
