.b-file-picker {
  display: flex;
  position: relative;
  flex: 1;
  border-radius: 0 !important;

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
  }

  &__actions {
    margin-top: auto;
  }

  &__preview {
    width: 100px;
  }

  &__input {
    opacity: 0;
    position: absolute;
    transform: scale(0);
  }
}
