.b-user-permissions {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    padding: 16px;
    margin: 0 4px 4px 0;
    border: 1px double #cecece;

    @media all and (max-width: 600px) {
      width: 100%;
      box-sizing: border-box;
    }
  }

  &__title {
    display: block;
    font: 20px Roboto, Sans-serif;
  }
}
