.b-book-menu {
  &__drawer {
    width: 240px;
    top: 64px !important;
    bottom: 0 !important;
    height: auto !important;
    padding: 12px 0;
  }

  &__setting {
    margin: 0 12px 12px !important;
  }

  &__chapter-incomplete {
    background-color: #fce4ec !important;
  }

  &__chapter-current {
    background-color: #9fa8da !important;
  }
}
