.b-book-editor {
  margin-right: 240px;
  position: relative;
  min-height: calc(100vh - 64px);

  &_chapters_none {
    margin-right: 0;

    //.b-form-book-settings {
    //  max-width: calc(1440px - 24px * 2);
    //  margin: 24px auto;
    //}
  }

  &_sidebar_none {
    margin-right: 0;
  }

  &__modal {
    max-width: 700px;
    margin: 0 auto;
    padding: 16px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__modal-form {
    max-width: 700px;
  }

  &__preview {
    display: flex;
    align-items: center;
  }
}
