.b-orders {
  &__row {
    cursor: pointer;
  }

  &__product-list {
    margin: 0;
    padding: 0;
  }

  &__icon-error {
    vertical-align: middle;
    width: 18px !important;
    height: 18px !important;
  }
}
