.b-header {
  &__button-wrapper {
    margin-left: auto;
    display: flex;
  }

  &__logo {
    height: 37px;
    margin: 0 -30px 0 -50px;
  }

  &__logo-desc {
    text-decoration: none;
  }

  &__username {
    display: flex !important;
    align-items: center;
  }

  &__username-value {
    @media all and (max-width: 600px) {
      display: none;
    }
  }

  &__progress {
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__menu-icon {
    color: #fff;
  }

  &__menu-drawer {
    min-width: 230px;
  }

  &__drawer-submenu-item {
    padding-left: 35px !important;
  }
}
