.b-datepicker {
  position: absolute;
  top: 18px;
  bottom: 2px;
  z-index: 3;
  left: 0;
  right: 0;
  border: 0 none;
  background: transparent;
  font-size: 1rem;
  width: 100%;

  &_state_filled {
    background-color: #fff;
  }

  &__wrapper {
    position: relative;
  }

  &__native {
    input {
      &::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        color: transparent;
        background: transparent;
      }

      &::-webkit-inner-spin-button,
      &::-webkit-clear-button {
        z-index: 1;
      }
    }
  }
}
.flatpickr-calendar {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
