.b-form-book-settings {
  &__photo-preview-action {
    position: absolute !important;
    top: 4px;
    right: 4px;
  }
}

.b-product-card {
  &__title {
    min-width: 0;
    flex: 1 1 auto;
  }
}

.b-product {
  &__dialog-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__dialog-actions {
    display: flex;
    margin-top: 24px;
  }

  &__includes-label {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
