.b-snackbar {
  &_type {
    &_error {
      background-color: #d32f2f !important;
    }
    &_info {
      background-color: #303f9f !important;
    }
    &_warning {
      background-color: #ffa000 !important;
    }
    &_success {
      background-color: #43a047 !important;
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__icon {
    opacity: 0.9;
    margin-right: 8px;
    font-size: 20px;
  }
}
