.b-chapter-preview {
  padding: 24px;
  position: relative;

  &__content-wrapper {
    display: flex;
    justify-content: center;
  }

  &__content {
    border: 3px double #000;
    max-width: 100%;
  }

  &__actions {
    display: flex;
    margin-bottom: 24px;
  }

  &__dimensions {
    margin-left: auto;
  }
}
