<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Admin panel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
</head>
<body>
<div id="root"></div>
</body>
</html>
